{{ $glossary := index site.Data.glossary site.Language.Lang }}
{{ $product := index site.Data.product site.Language.Lang }}
{{ $application := index site.Data.application site.Language.Lang }}

<div class="header-bar">
    <div class="logo">
        <img src="/media/logo.svg">
    </div>
    <div class="mainer">
        <div class="nav">
            <a class="item" href="/#home" data-id="home">{{$glossary.home}}</a>
            <a class="item" href="/#about" data-id="about">{{$glossary.about}}</a>

            <a class="item" href="/#product" data-id="product">
                <span>{{$glossary.product}}</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $product.categories}}
                    <li onclick="handleHeaderSubMenuClick(event, '')">
                        {{ .name }}
                    </li>
                    {{ end }}
                </ul>
            </a>

            <a class="item" href="/#solution" data-id="solution">
                <span>{{$glossary.solution}}</span>
                <i class="fa-solid fa-angle-down"></i>
                <ul>
                    {{range $application.categories}}
                    <li onclick="handleHeaderSubMenuClick(event, '')">
                        {{ .name }}
                    </li>
                    {{ end }}
                </ul>
            </a>


            <a class="item" href="/#news" data-id="news">{{$glossary.news}}</a>
            <a class="item" href="/#contact" data-id="contact">{{$glossary.contact}}</a>
        </div>
        <div class="lang">{{site.Language.Lang}}</div>
        <div class="menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</div>