{{ $data := index site.Data.product site.Language.Lang }}

<section class="section sec3 content-sec" id="product">

    <div class="main-title">
        <h2> {{ $data.title | safeHTML }}
            <span class="bg-text"> {{ $data.backgroundTitle }}</span>
        </h2>
        <div class="border"></div>
    </div>

    <p class="sub-title">
        {{ $data.portText }}
    </p>

    <div class="categories">

        {{ range first 999 (where site.RegularPages "Type" "==" "products")}}

        <div class="new" onclick="location.href = '{{ .RelPermalink }}';">
            {{.Params}}
        </div>

        {{ end }}

        {{range $data.categories}}
        <div class="category">
            <div class="image"><img src="{{.coverImage}}" alt="">
                <h3>{{.name}}</h3>
            </div>
            <div class="hover-items">
                <div class="show-more" onclick="handleHeaderSubMenuClick(event, '')">
                    {{$data.btnText}}
                </div>
                <!-- <p>{{.description}}</p> -->
            </div>
        </div>
        {{ end }}


    </div>


</section>