{{ $curCategorySlug := index .Params.categories 0}}
{{ $curParentCategorySlug := index .Params.categories 1}}
{{ $existCategories := site.Taxonomies.categories }}

<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">

<!-- head link and script -->
{{ partial "head.html" .}}

{{ $productStyle := resources.Get "product.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $productStyle.RelPermalink }}" integrity="{{ $productStyle.Data.Integrity }}" />

{{ $markdownStyle := resources.Get "markdown.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $markdownStyle.RelPermalink }}" integrity="{{ $markdownStyle.Data.Integrity }}" />

<body>
    <!-- navigation header -->
    <div class="white-header">
        {{ partial "header.html" .}}
    </div>

    <div class="product-page">
        <div class="banner">
            <img src="/media/{{ path.Base .Params.image }}">
        </div>
        <div class="container">
            <div class="side-menu">
                <div class="title">
                    Product List
                </div>

                <ul class="list">
                    {{range $name,$item := $existCategories}}
                    {{if (eq $name $curParentCategorySlug )}}
                    {{range $page := $item.Pages}}
                    <li onclick="location.href = '{{.RelPermalink}}'">
                        <div><span>{{$page.Title}}</span></div>
                    </li>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </ul>
            </div>

            <div class="main">
                <div class="title">
                    {{ .Title }}
                </div>
                <div class="md-content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}
</body>

</html>