

<!DOCTYPE html>
<html lang="en">

<!-- head link and script -->
{{ partial "head.html" .}}

{{ $productStyle := resources.Get "product.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $productStyle.RelPermalink }}" integrity="{{ $productStyle.Data.Integrity }}" />

{{ $markdownStyle := resources.Get "markdown.scss" | resources.ToCSS | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $markdownStyle.RelPermalink }}" integrity="{{ $markdownStyle.Data.Integrity }}" />

<body>
    <!-- navigation header -->
    <div class="white-header">
        {{ partial "header.html" .}}
    </div>


    <div class="product-page">
        <div class="banner">
            <img src="">
            <h1></h1>
        </div>

        <div class="container">
            <div class="side-menu">
                <div class="title">
                   
                </div>

                <ul class="list">
                    
                    <li onclick="location.href = '{{.RelPermalink}}'">
                        <div>
                            <span></span>
                        </div>
                    </li>
                   
                </ul>
            </div>

            <div class="main">
                <div class="title">
                    
                </div>
                <div class="md-content">
                   
                </div>
            </div>
        </div>
    </div>

    <!-- footer copyright -->
    {{ partial "footer.html" .}}
</body>

</html>
